<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end" (click)="searchResult()">
      <ion-icon class="size-ic" name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="loaderPen" style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <div>
        <img class="loader" src="./../../assets/loader.gif" />
      </div>
    </ion-row>
  </ion-grid>

  <ion-slides *ngIf="fiveItemsOnly && fiveItemsOnly.length" style="height:32vh;" pager="true" loop="true" speed="300">
    <ion-slide *ngFor="let slide of fiveItemsOnly">
      <img src="http://image.tmdb.org/t/p/w500/{{slide.backdrop_path}}"/>
    </ion-slide>
  </ion-slides>

  <div class="thumnails" style="margin-top: 16px;">
    <div class="list-thumbnail">
      <div class="img-thumb-top" *ngFor="let now of nowplaying_list">
        <img class="thumbnail-img-two" src="http://image.tmdb.org/t/p/w500/{{now.poster_path}}">
      </div>
    </div>
  </div>

  <h6 *ngIf="titlePen" text-uppercase class="custom-padding">Upcoming Movies</h6>
  <div class="thumnails">
    <div class="list-thumbnail">
      <div class="img-thumb" *ngFor="let now of nowplaying_list">
        <img class="thumbnail-img" src="http://image.tmdb.org/t/p/w500/{{now.poster_path}}">
      </div>
    </div>
  </div>
  
</ion-content>